* { 
  margin: 0;
  padding: 0; /* Убираем отступы и поля для всех элементов */
  font-family:'Roboto', serif;
  font-size: 16px;
 } 

  .layout {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr repeat(12, 1fr) 1fr;
    /*grid-template-rows: 90px auto 16px;*/
    grid-gap: 20px;
    height: 100vh;
  }

  .main {
    background: rgb(44, 155, 22);
    grid-column: 1/15;
    position: relative;
  }

  .header {
    grid-column-start: 2;
    grid-column-end: -2;
    /* grid-column: span 14; */
  }
  
  /*
  .content{
    grid-column: span 2/4;
  }
  */
  
  /*
  .footer {
    grid-column: span 14;
  }
  */

  /*отступы и поля*/
  .m20 {
    margin: 20px;
  }
  
  .mt20 {
    margin-top: 20px;
  }

  .ml4 {
    margin-left: 4px;
  }

  .ml20 {
    margin-left: 20px;
  }

  .mr4 {
    margin-right: 4px;
  }
  
  .width-100pr {
    width: 100%;
  }

  .width-100pr {
    width: 100%;
  } 

  .width-400px {
    width: 400px;
  } 

  .p0 {
    padding: 0px;
  }
  
  .p20 {
    padding: 20px;
  }

  .pt8- {
    padding-top: 8px;
  }
/*Шрифты*/
.font-size-12 {font-size: 12px;} 
.font-size-16 {font-size: 16px;} 
.font-size-24 {font-size: 24px;}
.font-size-32 {font-size: 32px;} 
.font-size-48 {font-size: 48px;}

.font-weight-600 {font-weight: 600;}
.font-weight-900 {font-weight: 900;}

/*Кнопки*/
button.__button {
  box-sizing: border-box; /* Ширина блока с полями */
  color: #fff; /* цвет текста */
  user-select: none; /* убирать выделение текста */
  padding: .0em 1.5em;/*.7em 1.5em; /* отступ от текста */
  height: 40px;/*текст будет по центру*/
  opacity: 0.9;
  font-size: 16px;
  /*border-radius: 4px;*/
} 
button.__button:hover { /* при наведении курсора мышки */
  opacity: 1.0; 
  } 
button.__button:active { /* при нажатии */
  opacity: 0.5; 
}

/*форма со спиннером индикатора загрузки*/
.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.02);
}

/*для img вложенного в элемент с классом loading */
.loading img {
  filter:alpha(Opacity=25);
  opacity:0.35;
  height:100%;
  display: block;
  margin: 0 auto;
}

.p-relative{
  position: relative;
}

/*форма со спиннером индикатора загрузки*/
.wait_loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/*для img вложенного в элемент с классом loading */
.wait_loading img {
  filter:alpha(Opacity=35);
  opacity:0.35;
  height:100px;
  display: block;
  position: absolute;
  top: 20px;/*положение спинера*/
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%)
}

.progresser {
  width: 300px;
  height: 80px;
  display: block;
  position: absolute;
  top: 20px;/*положение спинера*/
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%)   
}